@CHARSET "UTF-8";

/***************************************************************************************
 *  DEFAULT THEME - COMPONENT IMAGE THUMBNAIL
 ***************************************************************************************/

.image-thumbnail {
    position: relative;
    display: block;
    margin: 0px auto 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.image-thumbnail:last-child {
    margin-bottom: 0px;
}

.image-thumbnail.thumbnail-circle {
    border-radius: 50%;
}

.image-thumbnail.thumbnail-rounded {
    border-radius: 4px;
}

.image-thumbnail.thumbnail-bordered {
    border: solid 1px rgb(210, 210, 210);
}


/***************************************************************************************
 *  DEFAULT THEME - COMPONENT IMAGE THUMBNAIL - IMAGE
 ***************************************************************************************/

.image {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.image.image-avatar {
    width: 100%;
    height: 100%;
}

.thumbnail-circle .image {
    border-radius: 50%;
}

.image-rounded {
    border-radius: 4px;
}

.image-bordered {
    border: solid 1px rgb(210, 210, 210);
}

.image > .fa {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

/***************************************************************************************
 *  DEFAULT THEME - COMPONENT IMAGE THUMBNAIL - SIZES
 ***************************************************************************************/

.image-thumbnail {
    width: 60px;
    height: 60px;
}

.image-thumbnail .image > .fa {
    width: 100%;
    height: 30px;
    font-size: 30px;
}

.image-thumbnail .image > .fa-building {
    width: 37%;
}

.image-thumbnail-sm {
    width: 40px;
    height: 40px;
}

.image-thumbnail-sm .image {
    width: 100%;
    height: 100%;
}

.image-thumbnail-sm .image > .fa {
    height: 20px;
    font-size: 20px;
}


.thumbnail-lg {
    width: 180px;
    height: 120px;
}

.thumbnail-lg .image > .fa {
    font-size: 60px;
    line-height: 60px;
    height: 60px;
}

.thumbnail-lg .image > .fa.fa-building {
    width: 48px;
}

.image-thumbnail .image {
    top: 50%;
    transform: translateY(-50%);
}

/***************************************************************************************
 *  DEFAULT THEME - COMPONENT IMAGE THUMBNAIL - CONTEXTUAL CLASSES
 ***************************************************************************************/

.image.image-default-darker {
    background-color: rgb(70, 70, 70);
}

.image.image-primary-ligther {
    background-color: rgb(80, 190, 250);
}

a.image-thumbnail:hover:before {
    position: absolute;
    display: block;
    content: "";
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
}
